body{
	max-width: 1200px;
	text-align: center;
}
 .wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;

}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
header {
	display: flex;
  	background: gray;
  	flex-grow: 3;
  	justify-content: space-between;
}
#logo{
	height: 100px;
	justify-content: flex-start;
}
#icons-wrapper{
	display: flex;
}
.icons, .icons2{
	height: 30px;
	margin-left:10px;
}
.icons:hover{
	opacity:0.2;
}
.icons2:hover{
	opacity:0.2;
}
.search{
	margin-left: 50px;
}
.nav{
	margin-top:10px; 
}
.nav-element{
	cursor: pointer;
	font-size: 17px;
	padding: 10px 10px 10px 10px;
}
.nav-element:hover{
	background-color:silver; 
}
.social{
	text-align: center;
}
.footer {
  background: lightgreen;
}
.main {
  text-align: left;
  background: deepskyblue;
  display: flex;
    flex-flow: row wrap;
}
.post{
	margin: 10px;
	text-align: center;
}
.post>img{
	width: 250px;
}
.publicationDate{
	font-size: 15px;
	margin: 0px;
	color:green;
}
.title{
	margin-top:5px;
	font-size: 20px;
}
.rating{
	text-align: right;
}
.aside-2 {
	text-align: left;
  background: hotpink;
}
p>.author{
	padding-left:20px; 
}
.authorPhoto{
	width:100px;
	float: left;
}
.subscribe{
	text-align: center;
}
.search2{
	text-align: center;
}
.tags{
	text-align: center;
}
.tag{
	font-size: 15px;
	padding: 10px; 
}
.tag:hover{
	cursor: pointer;
	color:green;
}
@media(max-width: 987px) {
  	.icons{
  		display: none;
  	}
  	.nav-element{
  		display:none;
  	}
}
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .aside-2 { order: 2; }
  .footer  { order: 3; }
}